* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.logo {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 26%;
	border: 3px solid white;
	border-radius: 50px;
	margin: 5px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor: pointer;
}

.nav-list {
	width: 70%;
	display: flex;
	align-items: center;
}

.nav-list li {
	list-style: none;
	padding: 26px 30px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
}

a:hover {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
}

.rightNav {
	width: 30%;
	text-align: right;
	padding: 0 23px;
}

#search {
	padding: 5px;
	font-size: 17px;
	border: 2px solid grey;
	border-radius: 9px;
}

.background {
	background: rgba(0, 0, 0, 0.7) url('../images/ngo.jpg');
	background-size: cover;
	background-blend-mode: darken;
}

.firstSection {
	height: 100vh;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'EarthboundRegular', Tahoma, Geneva, Verdana, sans-serif, cursive;
	max-width: 50%;
	margin: auto;
	height: 80%;
}

.firstHalf {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondHalf {
	width: 30%;
}

.secondHalf img {
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin: auto;
}

.text-big {
	font-size: 35px;
}

.text-small {
	font-size: 18px;
}

.btn {
	padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
	font-size: 20px;
}

.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
	font-size: 16px;
}

.btn-dark {
	color: black;
	border: 2px solid grey;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-width: 80%;
	margin: auto;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
	padding: 10px;
}

.section-left {
	flex-direction: row-reverse;
}

.paras {
	padding: 0px 65px;
}

.sectionTag {
	padding: 16px 0;
}

.sectionSubTag {
	font-family: 'InconsolataLGCMarkupRegular', Tahoma, Geneva, Verdana, sans-serif, cursive;
}

.thumbnail img {
	width: 250px;
	border: 2px solid black;
	border-radius: 26px;
	margin-top: 19px;
}

.contact {
	background-color: #f6f5f4;
	height: 200px;
}

.text-center {
	text-align: center;
	padding-top: 30px;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
	font-size: 35px;
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: 'InconsolataLGCMarkupRegular', sans-serif, cursive;
	display: flex;
	justify-content: center;
	color: white;
}

.burger {
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 15px;
}

.line {
	width: 33px;
	background-color: white;
	height: 4px;
	margin: 5px 3px;
}

